.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.dynamic-div-element {
  margin-bottom: 50px;
  background: green;
}
.main-container {
  display: flex;
  width: 800px;
  justify-content: space-around;
}
.input-fields {
  display: flex;
  justify-content: space-around;
  width: 300px;
  flex-direction: column;
  height: 100px;
  position: fixed;
  right: 100px;
  top: 240px;
}
input {
  width: 320px;
  height: 40px!important;
  margin-bottom: 15px;
  outline: none;
}
label{
  margin-bottom: 20px;
}